/* 뒤로가기 버튼 */
.back-button {
  position: absolute;
  top: 50% !important;  
  left: 12px !important;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  z-index: 10;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.back-arrow {
  font-size: 24px;
  color: #006aff;
  font-weight: ExtraBold;
}